<div class="section section-light">
	<div class="container">
		<form v-on="submit: add($event)">
			<div class="row form-group">
				<div class="col-sm-5">
					<label class="control-label">Firebase URL</label>
					<input v-model="ref" type="text" class="form-control" placeholder="https://example.firebaseio.com/" required>
				</div>
				<div class="col-md-2">
					<label class="control-label">Event Type</label>
					<select v-model="event" options="events" class="form-control" required></select>
				</div>
				<div class="col-md-5">
					<label class="control-label">Auth Token</label>
					&nbsp; <small class="text-muted"><em>Optional</em></small>
					<input v-model="token" type="text" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Payload URL</label>
				<input v-model="url" type="text" class="form-control" placeholder="https://example.com/hooks/firebase" required>
			</div>

			<button type="submit" class="btn btn-success">Add webhook</button>

			<button v-on="click: logout($event)" type="button" class="btn btn-link pull-right">Log out</button>
		</form>
	</div>
</div>

<div v-if="hooks" class="section">
	<div class="container">
		<div v-component="hook" v-repeat="hooks" track-by="id"></div>
	</div>
</div>
