<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Add a webhook</h3>
		</div>
		<div class="panel-body">
			<form v-on="submit: add($event)" class="form-inline">
				<samp>new Firebase("</samp>
				<input v-model="ref" type="text" class="form-control input-sm" placeholder="https://example.firebaseio.com/" required>
				<samp>").auth("</samp>
				<input v-model="token" type="text" class="form-control input-sm" placeholder="token or secret">
				<samp>").on("</samp>
				<select v-model="event" options="events" class="form-control input-sm" required></select>
				<samp>")</samp>
				<span class="glyphicon glyphicon-chevron-right"></span>
				<input v-model="url" type="text" class="form-control input-sm" placeholder="https://example.com/hooks/firebase" required>
				<button type="submit" class="btn btn-sm btn-primary">Save</button>
			</form>
		</div>
	</div>

	<div v-repeat="hook: hooks" class="panel panel-default">
		<div class="panel-body">
			<button v-on="click: remove($event, hook.id)" type="button" class="close">&times;</button>

			<span v-if="!hook.last_call" class="text-muted glyphicon glyphicon-time"></span>
			<span v-if="hook.last_status >= 200 && hook.last_status <= 299" title="{{ hook.last_call | date }}" class="text-success glyphicon glyphicon-ok-sign"></span>
			<span v-if="hook.last_status < 200 || hook.last_status > 299" title="{{ hook.last_call | date }}" class="text-danger glyphicon glyphicon-exclamation-sign"></span>

			<samp>new Firebase("{{ hook.ref }}").on("{{ hook.event }}")</samp>
			<span class="glyphicon glyphicon-chevron-right"></span>
			<samp>{{ hook.url }}</samp>
		</div>
	</div>
</div>
