<div class="panel panel-default has-hidden-details">
	<div class="panel-body">
		<button v-on="click: remove($event, id)" type="button" class="close hidden-detail">&times;</button>

		<samp>
			<small class="text-muted">new Firebase("https://</small>
			<strong>{{ splitRef.subdomain }}</strong>
			<small class="text-muted">.firebaseio.com/</small>
			<strong>{{ splitRef.childRef }}</strong>
			<small class="text-muted">").on("</small>
			<strong>{{ event }}</strong>
			<small class="text-muted">")</small>
		</samp>
	</div>
	<div class="panel-footer {{ classes.text }}">
		<small v-if="updated_at" class="pull-right text-muted hidden-detail">
			<span class="glyphicon glyphicon-time"></span>
			{{ updated_at | fromNow }}
		</small>

		<span class="{{ classes.icon }}"></span>
		&nbsp;
		<samp>{{ url }}</samp>
		&nbsp;

		<small v-if="has_error" class="text-muted hidden-detail">
			<span class="glyphicon glyphicon-info-sign"></span>
			{{ last_response.message }}
		</small>
	</div>
</div>
